footer {
  background-color: var(--my-theme-content);
  box-shadow: var(--my-theme-shallow-shadow);

  * {
    color: var(--my-theme-text);
  }

  .top-info {
    .introduce {
      width: 365px;

      .with {
        line-height: 25px;
        margin-bottom: 3px;
      }

      .design {
        justify-content: space-between;

        > img {
          width: 70px;
        }

        .des {
          flex: 0 0 calc(100% - 82px);
          justify-content: space-between;

          > h2 {
            margin-top: 5px;
          }

          > p {
            margin-bottom: 5px;
          }
        }
      }

      .service {
        margin: 10px 0;
      }
    }

    .link-list {
      .title {
        line-height: 25px;
      }

      > ul {
        li {
          &:before {
            background-color: var(--my-theme-wire-color);
          }

          > a {
            transition: var(--my-theme-trans2);

            &:hover {
              text-decoration: underline;
              transition: var(--my-theme-trans2);
            }
          }
        }
      }
    }
  }

  .links {
    margin-top: 30px;
  }

  .copyright {
    margin-top: 30px;
    font-size: 14px;

    .notes {
      color: var(--my-theme-special-color);
    }
  }
}
