header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  .pc {
    width: var(--my-header-height);
    height: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: var(--my-theme-bg-color);
    transition: var(--my-theme-trans3);
    border-bottom: 1px solid rgba(255, 255, 255, .15);

    .head-l {
      width: 15%;
      display: flex;
      align-items: center;
      min-width: 180px;

      h1 {
        font-size: 16px;
        margin-left: 5px;
        color: var(--my-theme-color);
      }
    }

    .head-r {
      width: calc(100% + 15px);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .mobile {
    display: none;
  }

  .area-func {
    display: flex;
    align-items: center;
  }
}


@media screen and (max-width: 896px) {
  .dark-mode {
    .svg-pic {
      &:hover {
        background-color: var(--my-theme-bg-color);
      }
    }
  }

  header {
    .pc {
      display: none;
    }

    .mobile {
      width: 95%;
      min-width: 385px;
      height: var(--my-header-height);
      box-shadow: 0 0 15px rgba(0, 0, 0, .07);
      padding: 0 20px;
      display: flex;
      align-items: center;
      background-color: var(--my-theme-mobile-bg-color);
      transition: var(--my-theme-trans3);
      margin: 15px auto 0;
      border-radius: 30px;
      justify-content: space-between;

      .head-l {
        width: 15%;
        display: flex;
        align-items: center;
        min-width: 180px;

        h1 {
          font-size: 16px;
          margin-left: 5px;
          color: var(--my-theme-color);
        }
      }

      .head-r {
        display: flex;
        align-items: center;

        .area-search {
          display: none;
        }
      }
    }
  }
}
