aside {
  .mobile-aside {
    display: none;
  }
}

.pc-aside-active {
  width: var(--my-nav-width);
}

.pc-aside-no-active {
  width: 80px;
}

.pc-aside {
  position: sticky;
  z-index: 1;
  transition: var(--my-theme-trans3);
  top: var(--my-header-height);

  .pc {
    width: 100%;
    height: calc(100vh - 60px);
    border-right: 1px solid rgba(255, 255, 255, .15);
    padding: 20px 20px 50px;
    background-color: var(--my-theme-bg-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
    transition: var(--my-theme-trans3);
    position: relative;

    .avatar {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .avatar-bg {
        display: block;
        position: relative;
        width: 96px;
        height: 96px;
        overflow: hidden;
        border-radius: 48% 52% 68% 32%/42% 28% 72% 58%;
        background: linear-gradient(to right, #23D5AB, #23A6D5, #E73C7E, #EE7752, #DDD6F3);
        background-size: 500% 100%;
        animation: blobber 30s 0s linear infinite,
        cobler 30s 0s linear infinite alternate;
        transition: var(--my-theme-trans2);
      }
    }

    > ul {
      > li {
        a {
          padding: 10px 5px;
          display: flex;
          align-items: center;
          color: var(--my-theme-color);
          height: 40px;
          transition: var(--my-theme-trans2);

          > svg {
            margin: 0 5px;
          }

          > span {
            transition: var(--my-theme-trans1);
          }

          > p {
            opacity: 0;
            visibility: hidden;
            width: 100%;
            position: absolute;
            left: 50px;
            top: 50%;
            transform: translateY(-48%);
            background-color: var(--my-theme-content);
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
            padding: 8px 10px;
            border-radius: 5px 16px 16px 16px;
            color: var(--my-theme-color);
            transition: var(--my-theme-trans2);
          }

          &:hover {
            transition: var(--my-theme-trans2);
            color: var(--my-theme-special-color);
            background-color: var(--my-theme-transB);
            border-radius: 8px;

            svg * {
              stroke: var(--my-theme-special-color);
            }
          }
        }
      }
    }
  }

  .zoom-sidebar {
    width: 80px;
    transition: var(--my-theme-trans3);
    padding: 20px 14px 50px;

    .avatar {
      .avatar-bg {
        width: 50px;
        height: 50px;
        transition: var(--my-theme-trans2);
      }
    }


    > ul {
      > li {
        position: relative;

        a {
          > span {
            display: none;
            transition: var(--my-theme-trans1);
          }

          &:hover {
            background-color: transparent;

            > p {
              opacity: 1;
              visibility: visible;
              transition: var(--my-theme-trans2);
            }
          }
        }
      }
    }
  }
}

.mask-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 9;

  .mobile-aside {
    position: absolute;
    left: 2vw;
    width: 80%;
    height: 96vh;
    top: 2vh;
    background-color: var(--my-theme-mobile-bg-color);
    border-radius: 20px;

    .title {
      height: 48px;
      padding: 0 15px;
      display: flex;
      align-items: center;
    }
  }
}

.mobile-aside {
  position: fixed;
  z-index: 12;

  .mask {
    backdrop-filter: saturate(180%) blur(10px);
    position: fixed;
    width: 10000px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .2);
  }

  .mobile {
    .aside-list {
      width: calc(100vw - 20%);
      height: calc(100vh - 40px);
      background-color: var(--my-theme-darkBs);
      margin-top: 20px;
      margin-left: 20px;
      border-radius: 20px;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .05);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
      padding: 0 15px;
      min-width: 230px;
      max-width: 400px;

      .title {
        height: 48px;
        display: flex;
        align-items: center;

        :deep(svg) {
          width: 34px;
          height: 34px;
        }
      }

      .each-list {
        display: flex;
        flex-direction: column;

        li {
          > a {
            display: flex;
            align-items: center;

            span {
              font-size: 14px;
              font-weight: 100;
              color: var(--my-theme-color);
            }
          }
        }
      }

      nav {
        border-radius: 0 0 20px 20px;
      }
    }
  }
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--my-theme-border);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--my-theme-bg-color);

  .menu {
    ul {
      display: flex;
      align-items: center;

      li {
        a {
          color: var(--my-theme-color);

          &:after {
            content: '\00B7';
            font-size: 90%;
            opacity: .6;
            padding: 0 2px;
          }
        }

        &:hover {
          text-decoration: underline;
        }

        &:last-of-type {
          a {
            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .link {
    margin-top: 10px;

    ul {
      display: flex;
      align-items: center;

      .svg-pic {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.avatar-bg::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: #000;
  background-image: url("/avatar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  animation: blobber 30s 0s ease-in-out infinite,
  wobbler 15s 0s linear infinite alternate;
}

@keyframes blobber {
  0% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
  5% {
    border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
  }
  10% {
    border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
  }
  15% {
    border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
  }
  20% {
    border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
  }
  25% {
    border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
  }
  30% {
    border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
  }
  35% {
    border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
  }
  40% {
    border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
  }
  45% {
    border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
  }
  50% {
    border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
  }
  55% {
    border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
  }
  60% {
    border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
  }
  65% {
    border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
  }
  70% {
    border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
  }
  75% {
    border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
  }
  80% {
    border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
  }
  85% {
    border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
  }
  90% {
    border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
  }
  95% {
    border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
  }
  100% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
}

@keyframes cobler {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes wobbler {
  0% {
    transform: rotateZ(8deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}

@media screen and (max-width: 896px) {
  aside {
    .pc-aside {
      display: none;
    }

    .mobile-aside {
      display: block;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
