.lucky {
  @apply p-2.5 bg-[var(--my-box-bg)] shadow-[0_5px_35px_rgba(0,0,0,.07)] rounded-lg flex items-center justify-center text-2xs select-none
}

.article-content {
  :deep(p) {
    margin: 1.7rem 0;
  }

  :deep(ol, ul) {
    margin: 1rem 0;

    li {
      line-height: 30px;
    }
  }

  :deep(h2, h3, h4, h5, h6) {
    margin: 1.5rem 0 18px;
    line-height: 1.5rem;
    font-weight: 700;
  }

  :deep(hr) {
    margin: 1.5rem 0;
  }

  :deep(pre) {
    margin: 1.7rem auto;
  }
}
