header {
  .area(100%, 60px);
  .bgc(var(--my-cur-default-theme-bgc));
  .flex;
  .flex-ali-center;
  .flex-jus-spa-bet;
  .color(var(--my-cur-default-theme-color));
  .pad-2(0, 24px);
  .pof;
  top: 0;
  left: 0;

  h1 {
    .flex;
    .flex-ali-center;

    img {
      .area(50px, 50px);
    }

    span {
      .fz(20px);
      .ml(5px);
      .color(var(--my-cur-default-theme-color));
    }
  }

  .links {
    .flex;
    .flex-ali-center;
    .por;

    .color-picker {
      .mr(5px);
      .cursor(pointer);
      .por;

      i {
        .color(var(--my-bright-active-theme-color));
        .fz(23px);
      }

      .color-picker-menu {
        .pos;
        left: 50%;
        .area(170px, 100px);
        .pad-1(20px);
        .color(var(--my-cur-default-theme-color));
        .bgc(var(--my-cur-default-theme-bgc));
        .box-s(var(--my-element-box-shadow-hover));
        .bdr(5px);
        .flex;
        flex-direction: column;
        justify-content: space-evenly;

        span {
          .mb(10px);
        }

        ul {
          .flex;
          .bd(1px, solid, var(--my-cur-default-theme-color));
          .bdr(4px);
          .area-w(125px);

          li {
            .pad-2(4px, 6px);

            &:nth-of-type(2) {
              .bd-l(1px, solid, var(--my-cur-default-theme-color));
              .bd-r(1px, solid, var(--my-cur-default-theme-color));
            }
          }

          .active {
            .bgc(var(--my-bright-theme-color));
          }
        }
      }

      .show-picker, .hide-picker {
        transition: transform 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
      }

      .show-picker {
        transform: translate(-50%, 10px);
        opacity: 1;
        visibility: visible;
        .show-opa-vis;
      }

      .hide-picker {
        transform: translate(-50%, 20px);
        .hide-opa-vis;
      }
    }

    .search {
      .por;

      i {
        .pos;
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
      }

      input {
        .area(202px, 34px);
        .bd(1px, solid, #eaecef);
        .bdr(5px);
        .pad-4(3px, 3px, 3px, 35px);
        .trans;
      }

      .focused {
        .trans;
        border-color: var(--my-bright-theme-color);
      }
    }
  }
}
