// 圆角
.round {
  border-radius: 50%;
}

// 半圆角
.semicircle {
  border-radius: 15px;
}

// 设置 svg stroke
.set-svg-stroke {
  stroke: var(--my-theme-special-color);
}

html body svg * {
  stroke: var(--my-theme-svg-color);
}

@mixin t-over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin t-many-over($num: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}
